.Hamburger {
  height: 50%;
  width: 3rem;
  margin: 0;
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.Hamburger span {
  height: 25%;
  width: 80%;
  background-color: #fff;
  border: none;
}
